.servicesWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.hoursWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 450px;
  background-color: lightblue;
}
